:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --grey: hsla(0, 0%, 0%, 0.534);
  --black: hsl(0, 0, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
  font-size: 16px;
}
html {
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.blog-card {
  background-color: var(--white);
  width: 384px;
  border-radius: 20px;
  border: 1.5px solid black;
  box-shadow: 8px 8px 0 black;
  padding: 24px;
}
li {
  list-style-type: none;
  margin-bottom: 20px;
}

.category {
  background-color: var(--yellow);
  font-weight: 800;
  padding: 5px 15px;
  border-radius: 5px;
}
.category-photo {
  border-radius: 10px;
}
.author {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.author-avatar {
  width: 50px;
  padding-right: 15px;
}
.author-info {
  font-size: 1rem;
  font-weight: 800;
}
time {
  font-size: 0.88rem;
  font-weight: 500;
}

.link {
  text-decoration: none;
  color: var(--black);
  font-size: 1.5rem;
  font-weight: 900;
}

.link:active,
.link:hover {
  color: var(--yellow);
}
p {
  line-height: 1.5rem;
  color: var(--grey);
  font-size: 1rem;
  font-weight: 500;
}

@media (max-width: 375px) {
  .blog-card {
    width: 327px;
  }
  .category-photo {
    width: 279px;
  }
}
